.grupo{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.grupo-opcoes{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
label{
    flex: 1;
    max-width: 150px;
}
input, select, button{
    flex: 1;
}
input[type="checkbox"], input[type="radio"]{
    max-width: 50px;
}
input, select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}
#container-salvar{
    display: flex;
    justify-content: center;
}
button{
    max-width: 200px;
    align-self: center;
    padding:  10px;
    font-size: 1em;
    border: 1px solid #069;
    background-color: #069;
    color: #fff;
    cursor: pointer;

}